html {
    --dark-font: #364844;
    --light-font: #fff;
    --gray-font: #868686;
    --middle-gray: #C0C0C0;
    --light-gray: #F8FBFA;
    --gray: #E2F0EF;
    --another-gray: #E1E1E1;
    --nav-bg: #1FA181;
    --footer-bg: #08664F;
    --btn-green: #0DBC91;
    --btn-ligth-green: #00D29F;

    --content-feed-width: 1140px; 
    --scrollbar-width: 8px;

    --presentation-height: 533px;
    --slider-height: 440px;

    --border-radius: 5px;

    --li-marker-color: #1FA181;
    --li-marker-size: 22px;
}