.faq {
    width: 100%;
}

.title_wrapper {
    padding-top: 100px;
}

.title_wrapper h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    width: 100%;

    padding-top: 16px;
}
