.slider {
    width: 100%;

    padding-top: 100px;
    padding-bottom: 92px;
}

.loader {
    height: 100%;
    width: 100%;

    background: gray;
}

.error {
    height: 100%;
    width: 100%;

    background: red;
}


.dir_btns_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dir_btns {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-top: 34px;
}

.slides_counter {
    display: flex;
    align-items: center;
    
    margin-right: 36px;
    margin-left: 36px;

    color: var(--middle-gray);
}

.slides_counter span {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.slides_counter .left_part {
    color: var(--dark-font);
}

.slides_counter .right_part {
    color: var(--middle-gray);
}