.footer {
    display: flex;
    justify-content: center;

    height: 144px;

    background-color: var(--footer-bg);
}

.footer .logo {
    position: absolute;
    left: 0;

    margin-top: 59px;
    margin-bottom: 58.1px;
}

.logo a { display: block; }

.wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1140px;
}

.social_media {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    flex-direction: row;

    height: 100%;
}

.social_media .social_media_icon {
    margin-left: 15px;
}