.wrapper {
    width: var(--content-feed-width)
}

.up .wrapper,
.up,
.bottom,
.left,
.right,
.phone_number,
.phone_number span,
.location,
.location div {
    display: flex;
}

.up {
    justify-content: center;
    background-color: var(--header-bg-desktop);
}

.up .wrapper {
    justify-content: space-between;

    height: var(--header-height-desktop);
}

.left,
.right {
    align-items: center;
}

/* Left part */
.logo {
    margin-right: 18.55px;
    margin-left: 2px;
    margin-top: 2px;
    width: 92px;
    height: 28px;
}

.location {
    --span-line-height: 21px;

    flex-direction: row;

    height: 38px;
    font-style: normal;
    font-weight: 400;
}

.location svg {
    margin-right: 1px;
    margin-left: 1px;
}

.location div {
    margin-left: 2.25px;
    flex-direction: column;
}

.location span {
    font-size: 14px;
}

.location .title {
    margin-top: 1.85px;
    line-height: var(--span-line-height);
    margin-bottom: -2px;
}

.location .subtitle {
    color: var(--gray-font);
    line-height: calc(var(--span-line-height) - 4px);
}

/* Right part */
.phone_number {
    flex-direction: row;
    margin-right: 36px;
}

.phone_number img {
    margin-right: 9px;
}

.phone_number span {
    justify-content: center;
    align-items: center;
}

.bottom {
    justify-content: center;

    height: 43px;
    width: 100%;

    background-color: var(--nav-bg);
}

/* .left svg {
    display: none;
} */

@media screen and (max-width: 1140px) and (orientation: portrait) { 
    .location svg, .location .subtitle, .phone_number img, .bottom, .btn_wrapper {
        display: none;
    }

    .up .wrapper { 
        position: relative;
        height: var(--header-height-mobile);

        z-index: 15;
    }

    .up, .up .wrapper {
        background-color: var(--header-bg-mobile);
    }

    .logo {
        position: absolute;
        top: 24px;
        left: 97px;

        margin: 0;
        padding: 0;

        width: 62px;
        height: 18.32px;
    }

    .phone_number span, .location .title {
        position: absolute;
        right: 19px;
        
        letter-spacing: 0em;
        text-align: right;
    }

    .phone_number span {
        top: 14px;

        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }

    .location_wrapper {
        position: absolute;
        top: 0;
        right: 0;
    }

    .location .title {
        top: 35px;

        margin: 0;
        padding: 0;

        font-size: 13px;
        font-weight: 400;
        line-height: 17px;

        display: block;
        width: 150px;
    }

    /* Анимация BurgerButton */
    
    .burger_wrapper {
        width: 71px;
        height: 100%;
    }
    
    .burger_wrapper .burger {
        overflow: visible;

        position: absolute;
        top: 20px;
        left: 17px;

        display: block;
        height: 26px;
        width: 37px;

        background-image: url("../../assets/ui-button_burger.svg");
    }

    .burger_wrapper.is_cross .burger {
        top: 19.5px;
        left: 19px; 

        height: 30px;
        width: 29px;
        
        background-image: url("../../assets/ui-button_burger_cross.svg");
    }

    .burger_wrapper .burger { transition: all 0.15s, width 0s, height 0s  }
}