.wrapper {
    display: grid;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    height: 100vh;
    width: 100vw;

    background-color: var(--pop-up-wrapper-bg);
}

.is_closed {
    display: none;
}

body:has(.wrapper:not(.is_closed)) {
    overflow: hidden;
}

.pop_up {
    width: var(--content-feed-width);
    z-index: 11;
}

.content {
    display: flex;
    flex-direction: row;
    height: 350px;
    
    border-radius: var(--border-radius);
    background-color: var(--pop-up-bg);
}

.text, .form {
    width: 50%;
    box-sizing: border-box;
}

.text {
    padding-top: 96px;
    padding-left: 98px;
    padding-right: 118px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;

}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    
    margin-top: 16px;
}

.form {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 98px;
} 

.form input {
    height: 41px;
    width: 100%;

    box-sizing: border-box;
    padding: 10px 16px 10px;
    margin-bottom: 16px;
}

.form input[placeholder] {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.form input, .form input:focus {
    border: 1px solid var(--another-gray)
}

.button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
}

.up_part {
    position: relative;

    height: 42px;
}

.cross_wrapper {
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;

    height: 20px;
    width: 20px;

    margin-right: 2px;
}
