.slider_switch_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 34px;
}

.slider_switch_btn svg use,
.slider_switch_btn.unavailable svg:hover use,
.slider_switch_btn.unavailable:active svg use {
    fill: var(--another-gray);
}

.slider_switch_btn svg:hover use,
.slider_switch_btn:active svg use {
    fill: var(--btn-green);
}
