.slider_card {
    position: relative;

    width: var(--content-feed-width);
    height: var(--slider-height-desktop);

    border-radius: var(--border-radius);

    background-color: var(--gray);
}

.slider_card img {
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.slider_card .skew {
    position: absolute;
    left: 0;

}

.slider_card .skew path {
    fill: var(--gray);
}


.wrapper {
    position: relative;
    z-index: 2;

    padding-top: 53px;
    padding-bottom: 56px;
    padding-left: 63px;

    box-sizing: border-box;
    height: var(--slider-height-desktop);
    width: calc(var(--content-feed-width) / 2);
}

.text_content {
    margin-bottom: 26px;
}

.slider_card h3 {
    display: block;
    margin-bottom: 16px;
}

.slider_card h3 span {
    display: block;
    font-weight: 700;
    letter-spacing: 0em;
}

.title {
    font-size: 38px;
    line-height: 49px;
}

.subtitle {
    font-size: 22px;
    line-height: 28px;

    margin-top: 2px;
    margin-left: 1px;
}

.service_list li {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;

    list-style-type: disc;
    list-style-position: inside;
}

.service_list li:not(:last-of-type) {
    margin-bottom: 5px;
}

.service_list li::marker {
    color: var(--li-marker-color);
    font-size: var(--li-marker-size);
}

.prices {
    margin-top: 33px;
}

.prices span {

    letter-spacing: 0em;
    font-weight: 400;
}

.new_price {
    font-size: 20px;
    line-height: 26px;

    margin-right: 16px;
}

.old_price, .old_price s  {
    color: var(--gray-font);

    font-size: 16px;
    line-height: 24px;
}

.btns button {
    margin-right: 14px;
}

@media screen and (max-width: 1140px) and (orientation: portrait) {
    .slider_card {
        display: flex;
        flex-direction: column;

        width: var(--text-content-width-mobile);
        height: var(--slider-height-mobile);
    }
    
    .slider_card img {
        position: relative;
        top: 0;
        right: auto;

        height: var(--slider-img-height-mobile);
        width: 100%;

        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
    
    .slider_card .skew {
        display: none;
    }
    
    .wrapper {
    
        padding-top: 22px;
        padding-bottom: 42px;
        padding-left: 23px;
        padding-right: 30px;

        box-sizing: border-box;
    
        height: var(--slider-text-content-height-mobile);
        width: 100%;
    }
    
    .text_content {
        margin-bottom: 27px;
    }
    
    .slider_card h3 {
        margin-bottom: 12px;
    }
    
    .slider_card h3 span {
        display: block;
        font-weight: 700;
        letter-spacing: 0em;
    }
    
    .title {
        font-size: 26px;
        line-height: 34px;
    }
    
    .subtitle {
        font-size: 14px;
        line-height: 18.12px;
    
        margin-top: 5px;
    }
    
    .service_list li {
        font-size: 14px;
        line-height: 20px;
    
    }

    .prices {
        margin-top: 17px;
    }
    
    .prices span {
        letter-spacing: 0em;
        font-weight: 400;
    }
    
    .new_price {
        font-size: 18px;
        line-height: 23px;
    
        margin-right: 10px;
    }
    
    .old_price, .old_price s {
        font-size: 14px;
        line-height: 18.12px;
    }
    
    .btns button {
        font-weight: 400;
        width: 137px;
        margin-right: 6px;
    }
    
}